
/* Regular | 400 */
@font-face {
  font-family: "OpenSans";
  src: url("http://static.trulia-cdn.com/images/fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("http://static.trulia-cdn.com/images/fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.trulia-cdn.com/images/fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff"), url("http://static.trulia-cdn.com/images/fonts/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype"), url("http://static.trulia-cdn.com/images/fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #222222;
  margin: 0;
}

body,
input,
select,
textarea,
button {
  font-family: OpenSans, sans-serif;
  background-color: #5eab1f;
  color: #fff;
}


h1, h2 {
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 5px 0;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.4;
  margin: 5px 0;
}

.lead {
  font-size: 20px;
  line-height: 1.4;
  margin: 5px 0;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
}

section {
  width: 650px;
  margin: auto;
}

a, a:visited {
  font-weight: bold;
  color: #fff;
}
